[defaults]
roles_path= /home/devops/ansible/roles
collections_path= /home/devops/ansible/collections
inventory= /home/devops/ansible/inventory
remote_user= devops
become_true= true

[privilege_escalation]
ask_pass=False
become_method=sudo
become_user=root
