[defaults]
roles_path=/home/devops/ansible-playbooks/roles:/usr/share/ansible/roles
collections_path=/home/devops/ansible-playbooks/mycollections
inventory=/home/devops/ansible-playbooks/inventory
remote_user=devops
ask_pass=False
[privilege_escalation]

become=true
become_method=sudo
become_user=root
become_ask_pass=false
