[defaults]
roles_path = /home/devops/testing/roles
collections_path= /home/testing/ansible/collections
inventory= /home/devops/testing/inventory
remote_user= devops

[privilege_escalation]
ask_pass=False
become_ask_pass=False
become_method=sudo
become_user=root
become: true

