INVENTORY_HOSTNAME= {{ ansible_facts['hostname'] }} 
TOTAL_MEMORY_IN_MB= {{ ansible_facts['memtotal_mb'] }}
BIOS_VERSION={{ ansible_facts['bios_version'] }}
TOTAL_SPACE= {{ansible_facts['devices']['sdb']['size'] }}
